$black: #000000;
$steel-gray: #8e8e93;
$grayish: #b4b0af;
$light-gray: #ccc7c6;
$blue: #007aff;
$white: #ffffff;
$gunmetal: #4c4f59;
$steel-two: #81869f;
$deep-gray:#70727a;
$semi-white: #f9f9f9;

$personal: #9200ff;
$clients: #ff7100;
$family: #d0db00;
$friends: #00dcff;
$arch: #6f6e74;

.color--black{
    color: $black;
}
.color--steel-gray{
    color: $steel-gray;
}
.color--white{
    color: $white;
}
.color--gunmetal{
    color: $gunmetal;
}
.color--steel-two{
    color: $steel-two;
}
