.forward{
    .forward-icon{
        width: 16px;
        height: 16px;
        background-image: url("/src/assets/forward.svg");
        background-position: contain;
        background-size: 16px 16px;
    }
}

.attach{
    .attach-icon{
        width: 16px;
        height: 16px;
        background-image: url("/src/assets/attach.svg");
        background-position: contain;
        background-size: 16px 16px;
    }
}