@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.text--primary{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.text--secondary{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.text--tertiary{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.text--quarternary{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.text--quinary{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.semi-bold{
    font-weight: 600;
}
.font-size--0{
    font-size: 0;
}